@model ESportskiCentar.Models.Izvjestaj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Izvjestaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumGenerisanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumGenerisanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
