@model IEnumerable<ESportskiCentar.Models.Teren>

@{
    ViewData["Title"] = "Tereni";
}

<section class="hero">
    <div class="hero-content">
        <h1>Tereni</h1>
        <p>Pregled svih sportskih terena u centru.</p>
    </div>
</section>

@if (User.IsInRole("Administrator"))
{
    <div class="text-center mt-4">
        <a asp-action="Create" class="btn btn-main">Dodaj teren</a>
    </div>
}

<table class="table table-custom">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Sport</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.naziv</td>
                <td>@item.sport</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">Detalji</a>

                    @if (User.IsInRole("Administrator"))
                    {
                        <span> | </span>
                        <a asp-action="Edit" asp-route-id="@item.id">Uredi</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.id">Obriši</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>