@model ESportskiCentar.Models.Korisnik

@{
    ViewData["Title"] = "Promijeni rolu";
}

<section class="hero">
    <div class="hero-content">
        <h1>Promijeni rolu</h1>
        <p>Dodijeli korisniku novu ulogu.</p>
    </div>
</section>

<div class="page-card">

    <h1>@Model.ime @Model.prezime</h1>

    <p>
        <strong>Email:</strong>
        @Model.Email
    </p>

    <p>
        <strong>Trenutna rola:</strong>
        @ViewBag.TrenutnaRola
    </p>

    <form asp-action="PromijeniRolu" method="post">

        <input type="hidden" name="id" value="@Model.Id" />

        <div class="mb-3">

            <label class="form-label">
                Nova rola
            </label>

            <select name="novaRola" class="form-select">

                <option value="Korisnik">
                    Korisnik
                </option>

                <option value="Radnik">
                    Radnik
                </option>

                <option value="Administrator">
                    Administrator
                </option>

            </select>

        </div>

        <div class="text-center mt-4">

            <button type="submit"
                    class="btn btn-main">
                Sačuvaj
            </button>

            <a asp-action="Index"
                   class="btn btn-secondary-custom ms-2">
                Nazad
            </a>

        </div>

    </form>

</div>