@model ESportskiCentar.Models.Rezervacija

@{
    ViewData["Title"] = "Detalji rezervacije";
}

<section class="hero">
    <div class="hero-content">
        <h1>Detalji rezervacije</h1>
        <p>Pregled informacija o rezervisanom terminu.</p>
    </div>
</section>

<div class="page-card">
    <h1>Rezervacija</h1>

    <p>
        <strong>Teren:</strong>
        @Model.Termin?.Teren?.naziv
    </p>

    <p>
        <strong>Sport:</strong>
        @Model.Termin?.Teren?.sport
    </p>

    <p>
        <strong>Datum i vrijeme:</strong>
        @Model.Termin?.datum.ToString("dd.MM.yyyy HH:mm")
    </p>

    <p>
        <strong>Status:</strong>
        @Model.status
    </p>

    <p>
        <strong>Vrijeme rezervacije:</strong>
        @Model.vrijemeRezervacije.ToString("dd.MM.yyyy HH:mm")
    </p>

    <p>
        <strong>Popust:</strong>

        @if (Model.primjenjenPopust)
        {
            <span class="badge bg-success">DA</span>
        }
        else
        {
            <span class="badge bg-secondary">NE</span>
        }
    </p>

    <p>
        <strong>Konačna cijena:</strong>
        @Model.konacnaCijena KM
    </p>

    <div class="text-center mt-4">

        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit"
                   asp-route-id="@Model.id"
                   class="btn btn-main">
                Uredi
            </a>
        }

        <a asp-action="Index"
               class="btn btn-secondary ms-2">
            Nazad
        </a>

    </div>
</div>